<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.just_java.mapper.DictionaryMapper">
    <select id="find" resultType="com.example.just_java.domain.DictionaryDomain">
        select * from dictionary
        <where>
            <if test="name != null and name != ''">
                type = #{name}
            </if>
        </where>
    </select>
</mapper>