<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.just_java.mapper.TableMapper">
    <select id="findAll" resultType="com.example.just_java.domain.TableDomain">
        select * from tableTest
        <where>
            <if test="queryDTO.name != null and queryDTO.name != ''">
                name = #{queryDTO.name}
            </if>
        </where>
    </select>
</mapper>